@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* background-color: #333333; */
}
a {
    display: block;
}
#wrap {
    width: 1200px;
}

/* header */
header {
    display: flex;
    width: 1200px;
    height: 100px;
}
.logo {
    margin: 0;
    width: 200px;
    height: 100px;
    background-color: #111;
}
nav {
    margin: 0;
    width: 600px;
    height: 40px;
    background-color: #222;
}

/* section */
#visual {
    width: 1200px;
    height: 300px;
    background-color: #333;
}
#contents {
    display: flex;
    width: 1200px;
    height: 200px;
}
article {
        width: 400px;
        height: 200px;
        background-color: #444;
}

/* footer */
footer {
    display: flex;
    width: 1200px;
    height: 100px;
}
.bt-logo {
    width: 200px;
    height: 100px;
    background-color: #555;
}
.copy {
    width: 800px;
    height: 100px;
    background-color: #666;
}
.sns {
    width: 200px;
    height: 100px;
    background-color: #777;
}