@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0;
}

.living-room {
    width: 1200px;
    height: 560px;
    position: relative;
}
.veranda {
    width: 100%;
    height: 160px;
    background-color: blue;
    position: absolute;
    top: 0;
}
.main-room {
    width: 23%;
    height: 200px;
    background-color: gray;
    position: absolute;
    top: 160px;
}
.kitchen {
     width: 20%;
     height: 200px;
     background-color: green;
     position: absolute;
     top: 360px;
}
.gate {
    width: 16%;
    height: 80px;
    background-color: yellow;
    position: absolute;
    top: 480PX;
    left: 600px;
    transform: translate(-50%);
}
.room1 {
    width:  21%;
    height: 160px;
    background-color: rgba(128, 128, 128, 0.595);
    position: absolute;
    right: 0;
    top: 160px;
}
.washroom {
    width: 14%;
    height: 220px;
    background-color: red;
    position: absolute;
    top: 319px;
    right: 0;
}
.room2 {
    width: 21%;
    height: 170px;
    background-color: chartreuse;
    position: absolute;
    bottom: 0;
    right: 0;
}