* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

.wrap {
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    background-color: #fff;
    z-index: 9999;
    top: 0;
    border-bottom: 1px solid #aaa;
}

.inner {
    display: flex;
    width: 1530px;
    margin: 0 auto;
}
.logo {
    width: 20%;
    height: 100px;
    text-align: center;
    align-content: center;
}

.logo p {
    font-size: 40px;
    font-weight: bold;
}

.nav {
    width: 800px;
    height: 100px;
    text-align: center;
    align-content: center;
}

.menu {
    display: flex;
}

.menu > li > a {
    width: 200px;
    height: 100px;
    text-align: center;
    align-content: center;
}

.sub-menu {
    overflow: hidden;
    height: 0px;
    transition: 0.3s;
}

.sub-menu > li {
    width: 200px;
    height: 80px;
    text-align: center;
    align-content: center;
    background-color: #f5e9e9;
}

.menu:hover .sub-menu {
    height: 400px;
}

.sub-menu li:hover {
    background-color: skyblue;
}

.menu > li > a:hover {
    border-bottom: 3px solid skyblue;
}

/* 유틸 */
.util ul {
    display: flex;
}

.util li {
    width: 110px;
    height: 100px;
    text-align: center;
    align-content: center;
    padding: 20px;
}


.util a:hover {
    text-decoration: underline;
    color: blue;
}


/* 소개 */
.content {
    margin-top: 300px;
    width: 100%;
    height: 700px;
    position: relative;
}

.content-text b {
    font-size: 30px;
}

.content-text p {
    font-size: 20px;
    text-align: center;
    align-content: center;
    white-space: pre-line;
}

.content-text img {
    margin-top: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 500px;
    object-fit: cover;
    position: absolute;
    left: 24%;
    top: 20%;
}

/* 소개2 */

.content2 {
    margin-top: 300px;
    width: 100%;
    height: 700px;
    position: relative;
}

.content-text2 b {
    font-size: 30px;
}

.content-text2 p {
    font-size: 20px;
    text-align: center;
    align-content: center;
    white-space: pre-line;
}

.content-text2 img {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #d9d9d9;
    height: 500px;
    object-fit: cover;
    position: absolute;
    left: 24%;
    bottom: 5%;
}

/* 소개3 */

.content3 {
    margin-top: 300px;
    width: 100%;
    height: 700px;
    position: relative;
}

.content-text3 b {
    font-size: 30px;
}

.content-text3 p {
    font-size: 20px;
    text-align: center;
    align-content: center;
    white-space: pre-line;
}

.content-text3 img {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #d9d9d9;
    height: 500px;
    object-fit: cover;
    position: absolute;
    left: 24%;
    bottom: 5%;
}


/* 소개4 */

.content4 {
    margin-top: 300px;
    width: 100%;
    height: 700px;
    position: relative;
}

.content-text4 b {
    font-size: 30px;
}

.content-text4 p {
    font-size: 20px;
    text-align: center;
    align-content: center;
    white-space: pre-line;
}

.content-text4 img {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #d9d9d9;
    height: 500px;
    object-fit: cover;
    position: absolute;
    left: 24%;
    bottom: 5%;
}
/* 푸터 */

.footer {
    width: 100%;
    height: 600px;
    background-color: #d9d9d9;
}

.footer-box {
    margin: 0 auto;
    width: 1700px;
    height: 600px;
    position: relative;
}

.footer-right {
    right: 0%;
    width: 500px;
    height: 320px;
    position: absolute;
}

.footer-right p {
    font-size: 17px;
    white-space: pre-line;
    font-weight: 200;
}

.footer-left {
    position: absolute;
    left: 0%;
    width: 700px;
    height: 600px;
    background-color: #d9d9d9;
}

.footer-left p {
    font-size: 17px;
    white-space: pre-line;
    font-weight: 200;
}

/* 푸터 아이콘 */

.sns-icon {
    filter: grayscale(100%);
    position: absolute;
    left: 0%;
    bottom: 40%;
}


.sns-icon img {
    width: 50px;
    height: 50px;
}

.sns-icon:hover {
    filter: grayscale(0%);
}